
<!-- Router-outlet é responsavel por ler a URL que o usuario esta acessando e alternar o componente dependendo da URL que ele acessa.-->
<!--Em volta do router-outlet vc coloca as coisas q se repetem ex: footer, barra de navegacao.-->
<router-outlet></router-outlet> <!-- Mescla o conteúdo da rota ao conteudo do componente  q tem q aparecer na URL-->
<!-- A partir do componente principal(appcomponent), tudo na tela sera renderizado. Incluindo as rotas que foram declaradas por voce.Se eu quero q meus componentes aparecam p meus usuarios, eu tenho q colocar um componente do angular router para fazer o processo de troca das pags - router-outlet-->